.hero-unit
  .row-fluid
    .span4
      = @pie_chart.draw
    .span8
      %h2 Draw Graphs with D3 and Rickshaw
      %h2 Using a Simple Ruby Syntax
      %h2 QuackyCharts
      %p QuackyCharts is an open-source graphing gem. It can be used to easily add pie charts and line graphs to Rails apps.  QuackyCharts uses JavaScript libraries such as D3 and Rickshaw with a simple, object-oriented Ruby syntax.
      = link_to 'See the Source', 'https://github.com/ragingsquirrel3/quacky-charts', class: 'btn btn-primary btn-large'

.row-fluid
  .span6
    %h2 Examples
    %p
      Look at the
      %span
        = link_to 'examples gallery.', :docs_examples
  .span6
    %h2 Tutorial
    %p Coming soon...
